
@{
    ViewBag.Title = "RequisitionForm";
}
@using ADprojectteam1.Models;


<script>
    window.onload = function () { searchEnter() };
</script>




@{
    List<Item> listItem = new List<Item>();
    listItem = ViewBag.Rlist;
    string searchStr = (string)ViewData["searchStr"];
    bool match = (bool)ViewData["match"];
    SRequisition sr = (SRequisition)Session["reqform"];

}

<div class="row" style="padding-top:70px;">
    <div class="col-sm-3 col-xs-3 col-lg-3 col-md-3">
        @{
            Html.RenderPartial("_Layout_Emp_LeftBar");
        }
    </div>

    <div class="w3-main" style="margin-left:250px">

        @{ if (sr != null)
            {

                <h2>Selected Item List</h2>
                <table>
                    <tr><th>Item Name</th><th>Quant</th></tr>

                    @{ foreach (ReqItem ri in sr.ListItem)
                        {
                            <tr>
                                <td>@ri.item.Description</td>
                                <td>@ri.Quant</td>
                                <td><input type="button" value="Delete" onclick="location.href='@Url.Action("deleteReqItem","DepEmp", new { id = ri.Id})'" /></td>
                            </tr>

                        }
                    }
                </table>
                <input type="button" value="Submit" onclick="location.href='@Url.Action("SubmitReqForm","DepEmp")'" />
            }
        }


        <form action="javascript:searchClick()" class="navbar-brand" style="padding-top:7px;" method="post">
            <table>
                <tr>
                    <td>

                        <input type="text" class="form-control" placeholder="Search.." size="6" id="searchBox" value="@searchStr">
                    </td>
                    <td>
                        <button type="submit" class="btn btn-info" style="background-color:darkslategrey;border:none;">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </td>

                </tr>
            </table>
        </form>




        @{
            <br>

            <table>
                <tr><th>Item Description</th><th>Quant</th><th>UOM</th></tr>





                @{ if (match || searchStr == "")
                    {
                        foreach (Item it in listItem)
                        {
                            <tr>
                                <td>@Html.Raw(it.Description)</td>
                                <td>
                                    <input type="text" placeholder="Input quantity" size="6" id="quantityBox @it.Id">
                                </td>
                                <td>@it.UnitofMeasure</td>
                                <td><input type="button" value="Add" onclick="Add_to_ReqItem(@it.Id);" /></td>

                            </tr>

                        }
                    }




                    else
                    {
                        <tr>
                            <td class="col-sm-3">There are no matches for your search.</td>
                        </tr>
                    }
                }
            </table>
        }
        </div>
    </div>







        <style>
            tr, th, td {
                padding: 5px
            }

            .font-red {
                font: weightbold;
                color: red;
            }
        </style>


        <script>

            function searchEnter() {
                var searchBox = document.getElementById("searchBox");
                searchBox.addEventListener("keypress", function (e) {
                    var key = e.which || e.keyCode;
                    if (key === 13) {
                        var data = { searchStr: searchBox.value };  /*Here we pass the Viariable name "searchStr" and its value to dictionary 'data'*/
                        doPOST(data);           /*Here we post 'data' to method, if the method has a parameter with same name of "searchStr", it passes to controller.*/
                    }
                });
            }

            function searchClick() {
                var searchBox = document.getElementById("searchBox");
                var data = { searchStr: searchBox.value };  /*Here we pass the Viariable name "searchStr" and its value to dictionary 'data'*/

                doPOST(data);
            }

            function doPOST(data) {
                var ajax = new XMLHttpRequest();

                ajax.onreadystatechange = function () {
                    if (ajax.readyState == 4) {
                        document.open();
                        document.write(ajax.response);
                        document.close();
                    }
                }
                ajax.open("POST", "/DepEmp/RequisitionForm", true);
                ajax.setRequestHeader("Content-type", "application/json;charset=UTF-8");

                ajax.send(JSON.stringify(data));
            }

            function Add_to_ReqItem(item_id) {




                var q = document.getElementById("quantityBox " + item_id).value

                var pdata = { Id: item_id, quant: q };

                $.ajax({
                    type: "POST",
                    url: "/DepEmp/AddReqItem",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(pdata),
                    dataType: "json",

                    // Response Success
                    success: function (response) {

                        alert("Item added to Requisition form successfully");
                        window.location.href = "./RequisitionForm";

                    },

                    // Response Fail
                    failure: function (response) {
                        alert("Fail Case");
                    },

                    // Response Error
                    error: function (response) {
                        alert("ERROR case");
                    }


                });
            }

        </script>

