@using ADprojectteam1.Models;

@{
    ViewBag.Title = "RequisitionList";
    List<SRequisition> reqlist = ViewBag.listreq;

}
    <h2>RequisitionList</h2>
    <table>
        <tr><th>Req Num</th><th>Status</th><th>Remark</th></tr>

        @{ foreach (SRequisition sr in reqlist)
            {
                <tr>
                    <td>@sr.Id</td>
                    <td>@sr.status</td>
                    <td>@sr.remark</td>
                    <td><input type="button" value="Delete" onclick="location.href='@Url.Action("deleteReq", "DepEmp", new { id = sr.Id })'" /></td>
                </tr>

                <tr>
                   <td> <table>
                        <tr><th>Item Description</th><th>Quant</th></tr>
                        
                        @{ foreach (ReqItem ri in sr.ListItem)
                            {
                        <tr>
                        <td>@ri.item.Description</td>
                        <td>@ri.Quant</td>
                        </tr>
                            }
                         }
                    </table>
                    </td>
                </tr>

            }
        }
    </table>
<br>
<br>
    <input type="button" value="Create new requisition" onclick="location.href='@Url.Action("RequisitionForm","DepEmp")'" />


