@using ADprojectteam1.Models;
@using ADprojectteam1.DB;

@{
    ViewBag.Title = "Pending Disbursement";
    Dictionary<int, int> itemlist = ViewBag.Rlist;
    Department d = ViewBag.dep;


}

<div class="row" style="padding-top:0px;">
    <div class="col-sm-3 col-xs-3 col-lg-3 col-md-3">
        @{
            Html.RenderPartial("_Layout_DepRep_LeftBar");
        }
    </div>

    <div class="w3-main" style="margin-left:250px">

        <h2>Pending Discursement</h2>
        <h4>@d.DepName</h4>

        @{ if (itemlist.Count()!=0)
            {<input type="button" value="Confirm Received" onclick="ConfirmReceived();" />

                <table class="w3-table w3-striped">
                    <tr><th>Item Name </th><th>Planned Quant</th><th>Actually Received Quant</th></tr>

                    @{ foreach (int itemId in itemlist.Keys)
                        {
                            <tr>
                                <td>@ItemData.GetItemById(itemId).Description</td>
                                <td>@itemlist[itemId]</td>
                                <td><input type="text" placeholder="Input quantity" onchange="ChangeReceive(@itemId)" size="6" id="ReceivedquantityBox @itemId" value="@itemlist[itemId]"></td>
                            </tr>

                        }
                    }
                </table>
                        }
                        else
                        {<h5>There is no pending disbursment order now.</h5> }
        }


    </div>
    </div>

        <br>
        <br>

        <script>

            function ChangeReceive(itemId) {


                var q = document.getElementById("ReceivedquantityBox " + itemId).value

                var pdata = {
                    itemId: itemId, quant: q
                };



                $.ajax({
                    type: "POST",
                    url: "/DepRep/ChangeReceiveQuant",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(pdata),
                    dataType: "json",

                    // Response Success
                    success: function (response) {

                        
                        document.getElementById("Receivedtotalq " + response.itemId).innerHTML = response.quant;

                    },

                    // Response Fail
                    failure: function (response) {
                        alert("Fail Case");
                    },

                    // Response Error
                    error: function (response) {
                        alert("ERROR case");
                    }


                });
            }


            function ConfirmReceived() {




                var pdata = {

                };



                $.ajax({
                    type: "POST",
                    url: "/DepRep/ConfirmReceive",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(pdata),
                    dataType: "json",

                    // Response Success
                    success: function (response) {

                        
                        window.location.href = "./PendingDisbursmentList";

                    },

                    // Response Fail
                    failure: function (response) {
                        alert("Fail Case");
                    },

                    // Response Error
                    error: function (response) {
                        alert("ERROR case");
                    }


                });
            }
        </script>

