@using ADprojectteam1.Models;
@using ADprojectteam1.DB;

@{
    ViewBag.Title = "Collected Department Order List";
    Dictionary<int, Dictionary<int, int>> reqlist = ViewBag.Rlist;

}

<div class="row" style="padding-top:0px;">
    <div class="col-sm-3 col-xs-3 col-lg-3 col-md-3">
        @{
            Html.RenderPartial("_Layout_StoreClerk_LeftBar");
        }
    </div>

    <div class="w3-main" style="margin-left:250px">

        <h2>Collected Department Order List</h2>

        <table class="w3-table w3-striped">
            <tr><th>Dep Name</th><th>Collect Point</th><th>Contact Person</th></tr>

            @{ foreach (int depId in reqlist.Keys)
                {
                    if (reqlist[depId].Values.Sum() != 0)
                    {
                        <tr>
                            <td>@DepartmentData.GetDepNameById(depId)</td>
                            <td>@DepartmentData.GetColPointById(depId)</td>
                            <td>@DepartmentData.GetContactNameById(depId)</td>

                        </tr>





                        <tr>
                            <td>
                                <table class="w3-table w3-striped">
                                    <tr><th>Item Name </th><th>Plan to Deli Quant</th></tr>

                                    @{ foreach (int itemId in reqlist[depId].Keys)
                                        {
                                            <tr>
                                                <td>@ItemData.GetItemById(itemId).Description</td>
                                                <td>@reqlist[depId][itemId].</td>
                                                <td></td>
                                            </tr>

                                        }
                                    }
                                </table>
                            </td>
                        </tr>
                    }


                }
            }

        </table>
        <br>
        <br>
        </div>
    </div>
 

