@using ADprojectteam1.Models;
@using ADprojectteam1.DB;

@{
    ViewBag.Title = "Delivery Order List";
    Dictionary<int, Dictionary<int, int>> reqlist = ViewBag.Rlist;
    Dictionary<int, int> collist = (Dictionary<int, int>)Session["collist"];
    Dictionary<int, Dictionary<int,int>> planlist = (Dictionary<int, Dictionary<int,int>>)Session["plannedlist"];
}

    <div class="row" style="padding-top:0px;">
        <div class="col-sm-3 col-xs-3 col-lg-3 col-md-3">
            @{
                Html.RenderPartial("_Layout_StoreClerk_LeftBar");
            }
        </div>

        <div class="w3-main" style="margin-left:250px">
            <h2>Making delivery plan base on collected items.</h2>
            @{ if (planlist.Count != 0)
                {<h2>Overall Item Collected</h2>
                    <table class="w3-table w3-striped">
                        <tr><th>Item Name</th><th>Collected Quant</th><th>Planned Quant</th></tr>
                        @{ foreach (int itemId in collist.Keys)
                            {
                                <tr>
                                    <td>@ItemData.GetItemById(itemId).Description</td>

                                    <td>@collist[itemId]</td>
                                    <td><span id="plannedtotalq @itemId"></span></td>
                                </tr>


                            }
                            <tr>


                                <td><input type="button" value="Confirm Delivery Order" onclick="ConfirmDelOrder()" /></td>

                            </tr>

                        }
                    </table>
                    <br>

                    <h2>Delivery Order List</h2>

                    <table class="w3-table w3-striped">
                        <tr><th>Dep Name</th><th>Collect Point</th><th>Contact Person</th></tr>

                        @{ foreach (int depId in reqlist.Keys)
                            {
                                <tr>
                                    <td>@DepartmentData.GetDepNameById(depId)</td>
                                    <td>@DepartmentData.GetColPointById(depId)</td>
                                    <td>@DepartmentData.GetContactNameById(depId)</td>

                                </tr>

                                <tr>
                                    <td>
                                        <table class="w3-table w3-striped">
                                            <tr><th>Item Name </th><th>Demand Quant</th><th>Plan to Deli Quant</th></tr>

                                            @{ foreach (int itemId in reqlist[depId].Keys)
                                                {
                                                    <tr>
                                                        <td>@ItemData.GetItemById(itemId).Description</td>
                                                        <td>@reqlist[depId][itemId].</td>
                                                        <td><input type="text" placeholder="Input quantity" onchange="ChangePlan(@itemId,@depId)" size="6" id="PlanquantityBox @itemId@depId" value="@planlist[depId][itemId]"></td>
                                                    </tr>

                                                }
                                            }
                                        </table>
                                    </td>
                                </tr>

                            }
                        }
                    </table>
                }
                else
                { <h4>You haven't collected any item to make delivery plan yet. </h4>}
            }
            <br>
            <br>
        </div>
        </div>
            <script>

                function ChangePlan(itemId, depId) {


                    var q = document.getElementById("PlanquantityBox " + itemId + depId).value

                    var pdata = {
                        itemId: itemId, depId: depId, quant: q
                    };



                    $.ajax({
                        type: "POST",
                        url: "/StoreClerk/ChangePlan",
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify(pdata),
                        dataType: "json",

                        // Response Success
                        success: function (response) {

                            
                            document.getElementById("plannedtotalq " + response.Id).innerHTML = response.quant;

                        },

                        // Response Fail
                        failure: function (response) {
                            alert("Fail Case");
                        },

                        // Response Error
                        error: function (response) {
                            alert("ERROR case");
                        }


                    });
                }

                function ConfirmDelOrder() {


                    

                    var pdata = {
                      
                    };



                    $.ajax({
                        type: "POST",
                        url: "/StoreClerk/ConfirmDelOrder",
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify(pdata),
                        dataType: "json",

                        // Response Success
                        success: function (response) {

                            if (response.status == false) {
                                alert("The plan quantity is inconsistence with collected quantity.");
                            }
                            else {
                                alert("Confirm Delivery Order successfully");
                                window.location.href = "./CollectedDepOrder";
                            }

                        },

                        // Response Fail
                        failure: function (response) {
                            alert("Fail Case");
                        },

                        // Response Error
                        error: function (response) {
                            alert("ERROR case");
                        }


                    });
                }
            </script>

